<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cart</title>
    <%= stylesheet_link_tag 'cart.css' %>
</head>

<body>

    <h1 class="heading">Cart</h1>

    <div class="table_container">
        <div class="grid_item">
            <h2>PRODUCT</h2>
            <h2>DETAIL</h2>
            <h2>PRICE</h2>
        </div>

        <% totalPrice = 0.0 %>
        <% @items.each do |item| %>
        <div class="grid_item">
            <div class="product_image"></div>

            <div class="detail">
                <% count_id = "cart_count_" + item.cart_item_id.to_s  %>
                <h1><%= item.name %></h1>
                <div class="quantity">
                    <img src="/assets/substract.svg" alt="-" id="decrease" onclick="decreaseCount('<%= count_id %>',<%= item.price %>,<%= item.cart_item_id %>)">
                    <p id="<%= count_id %>"><%= item.itemcount %></p>
                    <img src="/assets/add.svg" alt="+" id="increase" onclick="increaseCount('<%= count_id %>',<%= item.price %>,<%= item.stock %>,<%= item.cart_item_id %>)">
                </div>
            </div>
            <p>$ <%= item.price %></p>
            <% totalPrice = totalPrice + item.price * item.itemcount %>
        </div>
        <% end %>

        <div class="grand_price">
            <h3>Grand Total:</h3>
            <p id="grandTotal">$ <%= totalPrice %></p>
        </div>

    </div>

    <div class="payment">
        <button id="paymentButton">Proceed to payment</button>
    </div>

    <%= javascript_include_tag 'cart' %>
</body>

</html>