<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Listings</title>
    <%= stylesheet_link_tag 'listings.css' %>
    <%# <link rel="stylesheet" href="../css/listings.css"> %>
    <!-- <link rel="stylesheet" href="../css/listings_mobile.css">
    <link rel="stylesheet" href="../css/listings_tablet.css">
    <link rel="stylesheet" href="../css/listings_desktop.css"> -->
</head>

<body>

    <h1 class="heading">Product Listings</h1>

    <div class="table_container">
        <div class="grid_item2">
            <h2>PRODUCT</h2>
            <h2>DETAIL</h2>
            <h2>EDIT</h2>
        </div>

        <% @items.each do |item| %>
        <div class="grid_item">
            <div class="product_image"></div>
            <div class="detail">
                <h1><%= item.brand %> <%= item.name %></h1>
                <p><span>Stock: </span><%= item.stock %></p>
                <p><span>Price: </span>$<%= item.price %></p>
                <p><%= item.created_at.to_date.strftime("%B %e, %Y") %></p>
            </div>
            <img src="/assets/edit.svg" alt="edit">
        </div>
        <% end %>

    </div>

</body>

</html>