<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Product</title>
    <%= stylesheet_link_tag 'product_mobile.css' %>
    <%= stylesheet_link_tag 'product_tablet.css' %>
    <%= stylesheet_link_tag 'product_desktop.css' %>
    <!-- <link rel="stylesheet" href="../css/product.css"> -->
    <%# <link rel="stylesheet" href="../css/product_mobile.css">
    <link rel="stylesheet" href="../css/product_tablet.css">
    <link rel="stylesheet" href="../css/product_desktop.css"> %>
</head>

<body>

    <div class="grid">

        <div class="image_container" id="image_container">
            <img src="/assets/left.svg" alt="<" onclick="previousImage()">
            <img src="/assets/right.svg" alt=">" onclick="nextImage()">
        </div>

        <div class="text_container">
            <div class="info">
                <h1><%= @item.brand %> <%= @item.name %></h1>
                <h2>$ <%= @item.price %></h2>
                <p>⭐⭐⭐⭐</p>

                <div class="buttons_grid">
                    <div class="quantity">
                        <img src="/assets/substract.svg" alt="-" id="decrease" onclick="decreaseCount()">
                        <p id="cart_count">1</p>
                        <img src="/assets/add.svg" alt="+" id="increase" onclick="increaseCount()">
                    </div>
                    <% if logged_in? %>
                        <% if @is_seller %>
                            <button id="edit_product">Edit Product</button>
                        <% elsif @item.stock==0 %>
                            <button>Out of Stock</button>
                        <% else %>
                            <button id="cart">Add to Cart</button>
                        <% end %>
                    <% else %>
                    <button id="login">Sign in to continue</button>
                    <% end %>
                </div>

            </div>

            <div class="details">

                <p><%= @item.desc %></p>
                <p><span>Brand: </span><%= @item.brand %></p>
                <p><span>Seller: </span><%= @sellername %></p>
                <p><span>Stock: </span><%= @item.stock %></p>
            </div>

        </div>

    </div>

    <div class="reviews">
        <h2>Reviews</h2>


        <div class="review_grid">

            <div class="review">
                <div class="review_user">
                    <img src="/assets/user_solid.svg" alt="">
                    <p>John Doe</p>
                </div>
                <p class="rating">⭐⭐⭐⭐</p>
                <p class="text">Lorem ipsum dolor sit amet. Aut dolores consequatur ex maiores rerum qui ipsa suscipit
                    estiure nulla rem quos quia.</p>
                <p class="date">12 June, 2022</p>
            </div>

            <div class="review">
                <div class="review_user">
                    <img src="/assets/user_solid.svg" alt="">
                    <p>John Doe</p>
                </div>
                <p class="rating">⭐⭐⭐⭐</p>
                <p class="text">Lorem ipsum dolor sit amet. Aut dolores consequatur ex maiores rerum qui ipsa suscipit
                    estiure nulla rem quos quia.</p>
                <p class="date">12 June, 2022</p>
            </div>

            <div class="review">
                <div class="review_user">
                    <img src="/assets/user_solid.svg" alt="">
                    <p>John Doe</p>
                </div>
                <p class="rating">⭐⭐⭐⭐</p>
                <p class="text">Lorem ipsum dolor sit amet. Aut dolores consequatur ex maiores rerum qui ipsa suscipit
                    estiure nulla rem quos quia.</p>
                <p class="date">12 June, 2022</p>
            </div>

            <div class="review">
                <div class="review_user">
                    <img src="/assets/user_solid.svg" alt="">
                    <p>John Doe</p>
                </div>
                <p class="rating">⭐⭐⭐⭐</p>
                <p class="text">Lorem ipsum dolor sit amet. Aut dolores consequatur ex maiores rerum qui ipsa suscipit
                    estiure nulla rem quos quia.</p>
                <p class="date">12 June, 2022</p>
            </div>

            <div class="review">
                <div class="review_user">
                    <img src="/assets/user_solid.svg" alt="">
                    <p>John Doe</p>
                </div>
                <p class="rating">⭐⭐⭐⭐</p>
                <p class="text">Lorem ipsum dolor sit amet. Aut dolores consequatur ex maiores rerum qui ipsa suscipit
                    estiure nulla rem quos quia.</p>
                <p class="date">12 June, 2022</p>
            </div>

        </div>

    </div>
 
    <script>
        let count = document.getElementById('cart_count')

        function increaseCount() {
            if (parseInt(count.innerText) < <%= @item.stock.to_i %>) {
                count.innerText = parseInt(count.innerText) + 1
            }
        }

        function decreaseCount() {
            if (parseInt(count.innerText) > 1) {
                count.innerText = parseInt(count.innerText) - 1
            }
        }
    </script>

    <%= javascript_include_tag 'product_images' %>
    <%= javascript_include_tag 'product_add_to_cart' %>
</body>

</html> 